---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="About Me"
  description="Lorem ipsum dolor sit amet"
  pubDate={new Date("2023-05-04T03:00:00.000Z")}
  updatedDate={new Date("2023-05-04T03:00:00.000Z")}
>
  <p>
    Hi! I'm a full-stack web developer. I started my journey as a native Android
    app developer, then transitioned to building apps with Flutter. Currently, I
    primarily focus on creating full-stack web applications using TypeScript and
    Node.js, with React or Svelte.
  </p>
  
</Layout>
