---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="About Me"
  description="Lorem ipsum dolor sit amet"
  pubDate={new Date("2023-05-04T03:00:00.000Z")}
  updatedDate={new Date("2023-05-04T03:00:00.000Z")}
  heroImage="/placeholder-about.jpg"
>
  <p>
    Hi! I'm a full-stack web developer, i started my journey as a native Android
    app developer, then I transitioned to building apps with Flutter, and now I
    primarily focus on creating full-stack web applications in typescript/node
    with react/svelte. I love working with these technologies because they allow
    me to create fast, responsive web applications with clean, maintainable
    code.
  </p>

  <p>
    In addition to my primary focus on typescript/node and react/svelte, I'm
    also currently studying other programming languages like Rust and Elixir to
    expand my skillset and stay up-to-date with industry trends.
  </p>
</Layout>
