---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import GithubLink from "../components/tooltips/GithubLink.astro";
import TwitterLink from "../components/tooltips/TwitterLink.astro";
import { SITE_DESCRIPTION,SITE_TITLE } from "../consts";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <div class="dev">🧑‍🚀 Augusto Eduardo Torres</div>
      <div class="mas">Desenvoledor Full-Stack</div>
      <div class="my-links">
        <GithubLink />
        <TwitterLink />
      </div>
    </main>
    <Footer />
    <style is:global>

      .dev {
        margin-bottom: 1em;
        padding: 0;
        font-weight: bold;
        font-size: 20px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
      }
      
      body {
        width: 100%;
        padding: 0 2rem;
      }
    </style>
  </body>
</html>
